<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144339197644-q0agkr7amjlmi815na7ubpuqta4sdp3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144339197644-q0agkr7amjlmi815na7ubpuqta4sdp3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144339197644-65si1ojvu5b7141u6mp3strap2oi3dbj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZQCfLEBiMTa1B--hw4h2ELhJTn84-Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>144339197644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.accionat</string>
	<key>PROJECT_ID</key>
	<string>notbullying-84cef</string>
	<key>STORAGE_BUCKET</key>
	<string>notbullying-84cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144339197644:ios:b0ae8802ad679130876c69</string>
	<key>DATABASE_URL</key>
	<string>https://notbullying-84cef-default-rtdb.firebaseio.com</string>
</dict>
</plist>